@use "../../sass/breakpoints" as *;

.header {
  border-bottom: 1px solid var(--color-border);

  &__container {
    width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $bp-2) {
      flex-direction: column;
      padding-top: 2rem;
    }

    @media (max-width: $bp-3) {
      padding: 2rem 0;
      flex-direction: row;
    }
  }

  &__logo {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.75rem;
    font-family: var(--ff-heading);
    text-transform: uppercase;
  }

  &__nav {
    @media (max-width: $bp-3) {
      display: none;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  &__link {
    color: var(--color-white);
    font-size: var(--fs-h4);
    text-transform: uppercase;
    font-weight: var(--fw-heading-sm);
    text-decoration: none;
    letter-spacing: 0.05rem;
    padding: 2rem 0;
    display: block;
    border-top: 5px solid transparent;
    transition: all 0.2s;
    opacity: 0.75;

    @media (max-width: $bp-2) {
      border-top: none;
      border-bottom: 5px solid transparent;
      padding-bottom: 1rem;
    }

    &:hover {
      opacity: 1;
    }

    &--mercury:hover {
      border-top: 5px solid var(--color-mercury);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-mercury);
        border-top: none;
      }
    }

    &--venus:hover {
      border-top: 5px solid var(--color-venus);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-venus);
        border-top: none;
      }
    }

    &--earth:hover {
      border-top: 5px solid var(--color-earth);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-earth);
        border-top: none;
      }
    }

    &--mars:hover {
      border-top: 5px solid var(--color-mars);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-mars);
        border-top: none;
      }
    }

    &--jupiter:hover {
      border-top: 5px solid var(--color-jupiter);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-jupiter);
        border-top: none;
      }
    }

    &--saturn:hover {
      border-top: 5px solid var(--color-saturn);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-saturn);
        border-top: none;
      }
    }

    &--uranus:hover {
      border-top: 5px solid var(--color-uranus);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-uranus);
        border-top: none;
      }
    }

    &--neptune:hover {
      border-top: 5px solid var(--color-neptune);

      @media (max-width: $bp-2) {
        border-bottom: 5px solid var(--color-neptune);
        border-top: none;
      }
    }
  }
}
