@use "./sass/breakpoints" as *;

:root {
  --fs-h1: 5rem;
  --fs-h2: 2.5rem;
  --fs-h3: 0.95rem;
  --fs-h4: 0.85rem;
  --fs-body: 1.1rem;

  --fw-heading: 400;
  --fw-body: 500;
  --fw-heading-sm: 700;

  --ff-heading: "Antonio", sans-serif;
  --ff-body: "League Spartan", sans-serif;

  --lh-body: 1.5625rem;

  --color-border: rgba(255, 255, 255, 0.25);
  --color-white: #ffffff;
  --color-black: #070724;
  --color-grey-1: #38384f;
  --color-grey-2: #838391;
  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6f2ed6;
  --color-mars: #d14c32;
  --color-jupiter: #d83a34;
  --color-saturn: #cd5120;
  --color-uranus: #1ec2a4;
  --color-neptune: #2d68f0;

  --layout-width: 90%;

  @media (max-width: $bp-1) {
    --fs-h2: 2rem;
  }

  @media (max-width: $bp-2) {
    --fs-h1: 4rem;
    --fs-h2: 1.75rem;
    --fs-h3: 0.85rem;
    --fs-h4: 0.75rem;
  }

  @media (max-width: $bp-3) {
    --fs-h3: 0.75rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  color: var(--color-white);
  line-height: var(--lh-body);
}

body {
  font-size: var(--fs-body);
  background-image: url("/images/background-stars.svg");
  background-position: center;
  background-size: cover;
  background-color: var(--color-black);
}

button {
  font: inherit;
}
